.btn-red{

    border: 2px solid #B71C1C;
    padding: 8px 16px;
    border-radius: 4px;
    color: black;
    font-weight: 500;
    transition: all .3s ease-in-out;

    &:hover{
      background: #b71c1c;
      color: white;
      font-weight: 500;


    }
  }

  .btn-white{

      border: 2px solid #fff;;
      padding: 8px 16px;
      border-radius: 4px;
      color: black;
      font-weight: 500;
      transition: all .3s ease-in-out;

      &:hover{
        background: black;
        color: black;
        font-weight: 500;
        border: 2px solid black;


      }
    }

  .btn-black{
    background: #111;
    color:white;
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: 400;
    transition: all .4s ease-in-out;
    transform: translate(-50%, -50%);

    &:hover{
      background: white;
      color: black;
      font-weight: 500;

    }
  }
