@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "cards";
@import "home";
@import "button";
@import "footer";
@import "media";
@import "aboutus";
@import "doc";


body {
  font-family: 'Open sans', sans-serif !important;
}

.dropdown-content li a {
  color: white !important;

  &:hover {
    color: black !important;
  }
}